{% extends 'base.html' %}


{% block content %}
  <ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="{% url 'index' %}"> Все товары </a>
    </li>
    {% for section in sections %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'section' section.pk %}"> {{ section.name }} </a>
      </li>
    {% endfor %}
  </ul>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Номер</th>
        <th scope="col">Название</th>
        <th scope="col">Цена</th>
        <th scope="col">Дата поступления</th>
        <th scope="col">Единица измерения</th>
        <th scope="col">Поставщик</th>
        <th scope="col">Разделы</th>
      </tr>
    </thead>
    <tbody>
      {% for object in object_list %}
        <tr>
          <td>{{ object.id }}</td>
          <td>{{ object.name }}</td>
          <td>{{ object.price }}</td>
          <td>{{ object.add_time }}</td>
          <td>{{ object.measure }}</td>
          <td>{{ object.provider }}</td>
          <td>
              {% for section in object.sections.all %}
                {{ section.name }}
              {% endfor %}
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>

  <button type="button" class="btn btn-light">Добавить товар</button>
  <p>{{site.pk}} {{site.name}}</p>

{% endblock %}